#include <os2.h>
#include "ids.h"

ICON    ID_ICON  ime.ico

MENU IDM_POPUP
BEGIN
    MENUITEM "~Hiragana",           IDM_HIRAGANA
    MENUITEM "~Katakana",           IDM_KATAKANA
    MENUITEM "~Fullwidth ASCII",    IDM_FULLWIDTH
    MENUITEM SEPARATOR
    MENUITEM "~Always on top",      IDM_FLOAT
    MENUITEM "~Settings...",        IDM_SETTINGS
    MENUITEM SEPARATOR
    MENUITEM "~About...",           IDM_ABOUT
    MENUITEM SEPARATOR
    MENUITEM "~Close",              IDM_CLOSE
END

RCINCLUDE "wnnim.dlg"

